@charset "UTF-8";

#main {
	margin: 30px auto;
	width: 400px;
	border: 2px solid #aaa;
	padding: 20px;
	position: relative; /* ? */
	box-sizing: border-box;
	background-color: #F5E8C7;
}

#main h2 {
	text-align: center;
	color: #6F4C5B
}

#main output {
	display: inline-block;
	margin: 15px auto;
	width: 300px;
	height: 200px;
	overflow: scroll;
	padding: 15px;
	color: #6F4C5B;
	background-color: #DEBA9D;
}

#main label {
	display: inline-block;
	width: 70px;
	text-align: right;
	color: #6F4C5B;
}

#main input[type=button]{
	position: absolute;	/* ? */
	top: 92px;
	left: 280;
	width: 60px;
	height: 64px;
	color: #F5E8C7;
	margin: 2px 10px;
	background-color: #9E7777;
}