<?xml version='1.0' encoding='utf-8'?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
<!-- web.xml이 없을 경우 생성 방법 : 프로젝트 우클릭 후 Java EE Tools -> Generate Deployment Descriptor Stub -->
<!-- 서버 환경과 관련된 정보들은 주로 한 곳(web.xml)에 입력해놓고 필요할 때마다 application 내장 객체를 통해 얻어온다. -->
  
  <display-name>Model1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- 오라클 정보 -->
  <context-param> <!-- 드라이버 이름 -->
  	<param-name>OracleDriver</param-name>
  	<param-value>oracle.jdbc.OracleDriver</param-value>
  </context-param>
  <context-param> <!-- 접속 URL -->
  	<param-name>OracleURL</param-name>
  	<param-value>jdbc:oracle:thin:@localhost:1521:xe</param-value>
  </context-param>
  <context-param> <!-- 계정 아이디 -->
  	<param-name>OracleId</param-name>
  	<param-value>ydh</param-value>
  </context-param>
  <context-param> <!-- 패스워드 -->
  	<param-name>OraclePwd</param-name>
  	<param-value>1234</param-value>
  </context-param>
</web-app>